@media (max-width: 425px) {
  html {
    overflow: hidden;
  }
  h3 {
    font-size: 16px;
  }
  .card {
    height: 90vmin;
    width: 90vmin;
  }
  .portrait {
    height: 30vmin;
    width: 30vmin;
  }
  .age {
    font-size: 16px;
  }

  .location {
    font-size: 14px;
    bottom: 15%;
  }

  .top {
    left: -250%;
    top: -100%;
  }

  .bottom {
    right: -250%;
    bottom: -100%;
  }
}
