/* Genereal */

* {
  box-sizing: border-box;
}
/* Helpers */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Body */

.body {
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

/* Misc */

h3 {
  font-size: 18px;
  margin: 0;
}

p {
  color: hsl(0, 0%, 59%);
  margin: 0;
}

/* Main */

.card {
  background-color: white;
  height: 55vmin;
  width: 50vmin;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3.7px 6px rgba(0, 0, 0, 0.017),
    0 8.7px 13.7px rgba(0, 0, 0, 0.025), 0 18.3px 27.6px rgba(0, 0, 0, 0.033),
    0 63px 80px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.card-background {
  background-image: url(../images/bg-pattern-card.svg);
  background-size: cover;
  width: 100%;
  height: 35%;
  z-index: 2;
  position: relative;
  border-radius: 20px 20px 0 0;
}

.portrait {
  position: absolute;
  background-image: url(../images/image-victor.jpg);
  border-radius: 50%;
  border: 0.4rem solid white;
  height: 15vmin;
  width: 15vmin;
  background-position: center;
  background-size: cover;
  z-index: 3;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
}

.info {
  position: relative;
  width: 100%;
  height: 40%;
  z-index: 4;
}

.name {
  position: absolute;
  width: 100%;
  bottom: 35%;
}

.age {
  margin-left: 3%;
  font-size: 18px;
}

.location {
  position: absolute;
  width: 100%;
  bottom: 20%;
}

.stats-wrapper {
  border-top: 1px solid hsl(0, 0%, 59%);
  width: 100%;
  height: 25%;
  justify-content: baseline;
  z-index: 2;
}

.stats {
  flex-basis: 32%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

.number {
  margin: 0.5rem;
}

.label {
  font-size: 12px;
}

/* Attribution */

.attribution {
  color: #eaeaea;
  font-size: 11px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Background */

.bubble {
  position: absolute;
  width: 100%;
}

.top {
  left: -50%;
  top: -100%;
}

.bottom {
  right: -50%;
  bottom: -100%;
}
